.right-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-container-nav-bar{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    font-weight: bold;
}
.nav-bar-tabs{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;/*nshouf ken haka naheha ba3ed *//*espace bin lektiba w bar fouk*/
    
}

.today{
    margin-right: 10px;
    color: #c5c5c5;
}
.today:hover{
    color: #1a1a1a;
    cursor: pointer;
}
.today-active{
    color: #1a1a1a;
}

.week{
    color: #c5c5c5;
}
.week:hover{
    color: #1a1a1a;
    cursor: pointer;
}
.week-active{
    color: #1a1a1a;
}

.nav-bar-metric{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}


.celcius{
    border-radius: 500px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1a1a1a;
    background-color: #ffffff;
    font-size: small;
}
.fahrenheit{
    border-radius: 500px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1a1a1a;
    background-color: #ffffff;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
}
.celcius:hover{
    color: #ffffff;
    background-color: #1a1a1a;
    cursor: pointer;
}
.fahrenheit:hover{
    color: #ffffff;
    background-color: #1a1a1a;
    cursor: pointer;
}
.celcius-active{
    color: #ffffff;
    background-color: #1a1a1a;
}
.fahrenheit-active{
    color: #ffffff;
    background-color: #1a1a1a;
}

.right-container-data-box{
    flex: 12;
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 10px;
}
.right-container-week-cards{
    flex: 1;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    width: 75px;
    height: 95px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    font-weight: 500;
}
.card-day{
    margin: 5px;
    margin-top: 7px;
}
.card-temp-img img{
    width: 40px;
    height: 40px;
}
.card-temp-value{
    margin: 5px;
}
.right-container-today-cards{
    flex: 1;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*===================================================================================*/
.right-container-todays-highlight{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.right-container-todays-highlight-title{
    margin-top: 30px;
    /*margin-bottom: 10px;*/
    flex: 2;
    font-size: medium;
    font-weight: bold;
    
}
.right-container-todays-highlight-cards{
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.right-container-todays-highlight-card{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    width: 180px;
    height: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.right-container-todays-highlight-card-title{
    flex: 1;
    color: #c9c9c9;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    margin: 10px;
    margin-left: 20px;
    align-self: self-start;
}
.gauge{
    flex: 2;
    width: 50%;
    max-width: 180px;
    font-size: 32px;
    color: #004033;
    font-weight: 500;
    margin-bottom: -10px;
    margin-top: -20px;
}
.gauge_body{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #f3f3f4;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
    margin-top: 1rem;
}
.gauge_fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #ffbf5e;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
}
.gauge_cover{
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /* Text*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    color: #ffffff;
}
.right-container-todays-highlight-value{
    flex: 1;
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 20px;
    z-index: 1;
}
.wind-status-value{
    flex: 2;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: -6px;
}
.unit{
    font-size: 16px;
}
.wind-status-logo{
    flex: 1;
    align-self: self-start;
    margin-left: 30px;
}
.wind-status-logo img{
    width: 30px;
    height: 30px;
}
.sunrise-sunset-value{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.sunrise{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.sunrise-img{
    flex: 1;
    margin-bottom: 10px;
    margin-right: 10px;
}
.sunrise-img img{
    width: 25px;
    height: 25px;
}
.sunrise-time{
    flex: 4;
    font-size: 20px;
    font-weight: 500;
}
.sunset{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.sunset-img{
    flex: 1;
    margin-bottom: 10px;
    margin-right: 10px;
}
.sunset-img img{
    width: 30px;
    height: 30px;
}
.sunset-time{
    flex: 4;
    font-size: 20px;
    font-weight: 500;
}
.wind-status-value{
    align-self: self-start;
    margin-left: 20px;
}
.Humidity-summary{
    align-self: self-start;
    margin-left: 20px;
    font-size: small;
    font-weight: 500;
    margin-bottom: 20px;
}

