<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Liste de matériel</h2>
        <ul class="sensor-list">
          <li *ngFor="let capteur of capteurs" class="sensor-item">
            <div class="sensor-info">
              <span class="sensor-name">{{ capteur.sensor }}</span>
              <span class="sensor-quantity">{{ capteur.quantity }}</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="right-panel">
          <h2>Gérer de matériel</h2>
          <form (submit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="sensor">Capteur:</label>
              <select id="sensor" name="sensor" class="form-control" > <!--[(ngModel)]="selectedSensor"-->
                <option value="Capteur DHT22">Capteur DHT22</option>
                <option value="Capteur PH0-14">Capteur PH0-14</option>
                <option value="Capteur Capacitive Analogique">Capteur Capacitive Analogique</option>
                <option value="Carte ESP-32">Carte ESP-32</option>
                <option value="Pompe à eau">Pompe à eau</option>
                <option value="Relais">Relais</option>
                <option value="Transistor">Transistor</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="quantity">Nombre:</label>
              <input type="number" id="quantity" name="quantity" class="form-control" min="0" > <!--[(ngModel)]="quantity"-->
            </div>
            <div class="response-message">{{ responseMessage }} </div>
            <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
            <button type="button" class="btn btn-warning mr-2" (click)="onModifier()">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="onSupprimer()">Supprimer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  